In [1]:
import pickle
import pandas as pd
import time
import os

In [8]:
import os
os.chdir(os.path.expanduser("/home/lewis/actuarial-loss-prediction"))

from src.data_preprocessing import preprocess_data, traiter_dataframe

test_df1 = pd.read_csv('data/input/test.csv')

test_df = test_df1.copy()

# application nlp + clustering pour traiter la description des sinistres

nlp_clusters = traiter_dataframe(test_df, 'ClaimDescription', n_clusters=4)   
    
X_test, preprocessor = preprocess_data(test_df, nlp_clusters)

/home/lewis/actuarial-loss-prediction/.actuarial-loss-prediction/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Le score moyen de silhouette pour 4 clusters est : 0.272

In [ ]:
nlp_clusters

In [9]:
pd_x_test = pd.DataFrame(X_test)

print(test_df.shape)
    
print(X_test.shape)

pd_x_test.head()

(36000, 12)
(36000, 19)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-0.648004,1.684435,-0.0887,0.757987,0.187527,0.162058,-0.065442,-0.135947,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,-0.235607,-0.229696,-0.0887,-0.432341,-0.230844,0.162058,-0.515527,-0.324499,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1.908856,-0.229696,-0.0887,2.406813,0.020179,0.162058,-0.203929,0.703969,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,-0.070648,-0.229696,-0.0887,-0.892323,0.020179,0.162058,0.021113,-0.418776,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,-0.153127,-0.229696,-0.0887,-0.234146,0.187527,0.162058,0.800107,-0.267362,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [10]:
train_df1 = pd.read_csv('data/input/train.csv')

train_df = test_df1.copy()

X_train, preprocessor = preprocess_data(train_df, nlp_clusters)

pd_x_train = pd.DataFrame(X_train)

print(train_df.shape)
    
print(X_train.shape)

pd_x_train.head()

(36000, 12)
(36000, 19)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-0.648004,1.684435,-0.0887,0.757987,0.187527,0.162058,-0.065442,-0.135947,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,-0.235607,-0.229696,-0.0887,-0.432341,-0.230844,0.162058,-0.515527,-0.324499,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1.908856,-0.229696,-0.0887,2.406813,0.020179,0.162058,-0.203929,0.703969,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,-0.070648,-0.229696,-0.0887,-0.892323,0.020179,0.162058,0.021113,-0.418776,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,-0.153127,-0.229696,-0.0887,-0.234146,0.187527,0.162058,0.800107,-0.267362,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0